# Server files (download separately - too large for git)
HytaleServer.jar
HytaleServer.aot
Assets.zip

# Hytale Downloader
hytale-downloader-*
QUICKSTART.md
.hytale-downloader-credentials.json

# Persistent data
data/

# Environment files
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

*.zip
!Assets.zip
Server/
start.bat
start.sh
*.zip
!Assets.zip
Server/
start.bat
start.sh
